<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Options</title>
    <link rel="stylesheet" href="../styles/options.css">
</head>

<body>

    <div class="e-container">

        <!-- header -->
        <div class="e-container__title">
            <img src="../media/icon/ele-48.png" class="e-container__title__icon">
            <h1>elecord extension&nbsp;</h1>
            <p id="version">0.0.0</p>
        </div>
        
        <!-- description -->
        <p id="description" class="e-container__description">Description text</p>

        <!-- options -->
        <div class="e-container__header">
            <img src="../media/tabler/dots-circle-horizontal.svg" class="e-container__header__icon e-container__header__icon--svg">
            <h2>Options</h2>
        </div>

        <!-- context menu -->
        <div class="e-container__section">
            <h3>Context Menu</h3>

            <div class="e-container__section__sub-section">
                <p>🔎Search Games</p>

                <div class="e-option">
                    <input type="checkbox" id="opt-search-ggdeals" class="e-option__checkbox">
                    <label for="opt-search-ggdeals" class="e-option__label">Show 'Search gg.deals'</label>
                </div>

                <div class="e-option">
                    <input type="checkbox" id="opt-search-steam" class="e-option__checkbox">
                    <label for="opt-search-steam" class="e-option__label">Show 'Search Steam'</label>
                </div>
            </div>

            <div class="e-container__section__sub-section">
                <p>🔑Redeem Keys</p>

                <div class="e-option">
                    <input type="checkbox" id="opt-redeem-steam" class="e-option__checkbox">
                    <label for="opt-redeem-steam" class="e-option__label">Show 'Redeem Steam'</label>
                </div>

                <div class="e-option">
                    <input type="checkbox" id="opt-redeem-gog" class="e-option__checkbox">
                    <label for="opt-redeem-gog" class="e-option__label">Show 'Redeem GOG'</label>
                </div>

                <div class="e-option">
                    <input type="checkbox" id="opt-redeem-epic" class="e-option__checkbox">
                    <label for="opt-redeem-epic" class="e-option__label">Show 'Redeem Epic'</label>
                </div>
            </div>

        </div>

        <!-- steam store -->
        <div class="e-container__section">
            <h3>Steam Store</h3>

            <div class="e-container__section__sub-section">
                <p>📗Key Details Info</p>

                <div class="e-option">
                    <input type="checkbox" id="opt-steam-details" class="e-option__checkbox">
                    <label for="opt-steam-details" class="e-option__label">Display 'Key Details' box</label>
                </div>
            </div>

        </div>

        <!-- pc gamer -->
        <div class="e-container__section">
            <h3>PC Gamer</h3>

            <div class="e-container__section__sub-section">
                <p>📰Article enhancements</p>

                <div class="e-option">
                    <input type="checkbox" id="opt-pcgamer-steamicon" class="e-option__checkbox">
                    <label for="opt-pcgamer-steamicon" class="e-option__label">Display 'Steam icon' for store links</label>
                </div>

                <div class="e-option">
                    <input type="checkbox" id="opt-pcgamer-videos" class="e-option__checkbox">
                    <label for="opt-pcgamer-videos" class="e-option__label">Replace obtrusive videos with images</label>
                </div>
            </div>

        </div>

        <!-- footer -->
        <footer class="e-footer">
            <div class="e-footer__github-link">
                Open source on&nbsp;
                <a href="https://github.com/elecordapp/elecord-extension" target="_blank">
                    GitHub
                </a>
                &nbsp;
                <img src="../media/tabler/external-link.svg" class="e-footer__icon">
            </div>
        </footer>

    </div>

    <!-- script -->
    <script src="../scripts/options.js"></script>

</body>

</html>
