/* Define a specific class for highlighting */
.highlight-steam-link {
    color: #49abeb !important;
}

/* Style for the Steam logo */
.steam-logo {
    width: 20px; /* Adjust size as needed */
    height: auto;
    margin-right: 5px; /* Space between logo and link */
    vertical-align: text-bottom; /* Align logo vertically with the text */
}
